<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Opening_Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Opening_Tools.Properties.Settings>
            <setting name="Updater_On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AR" serializeAs="String">
                <value>АР</value>
            </setting>
            <setting name="KR" serializeAs="String">
                <value>КР</value>
            </setting>
            <setting name="OV" serializeAs="String">
                <value>ОВ</value>
            </setting>
            <setting name="VK" serializeAs="String">
                <value>ВК</value>
            </setting>
            <setting name="EOM" serializeAs="String">
                <value>ЭОМ</value>
            </setting>
            <setting name="SS" serializeAs="String">
                <value>СС</value>
            </setting>
            <setting name="OpnFamilyName" serializeAs="String">
                <value>ATL_Отверстие в стене</value>
            </setting>
            <setting name="DelFamilyName" serializeAs="String">
                <value>ATL_Отверстие_Удалено</value>
            </setting>
            <setting name="Prefix" serializeAs="String">
                <value>WallOpns</value>
            </setting>
        </Opening_Tools.Properties.Settings>
    </userSettings>
</configuration>